[aria-current="page"] {
  @extend .active;
}

.calendar-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);

  &.calendar-header {
    flex: 0 1 auto;
  }

  &.cal-content {
    min-height: 200px;

  }

  .col {
    border-width: 1px 1px 0 0;
    border-color: #CCCCCC;
    border-style: solid;

    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  .col:last-child {
    border-width: 1px 0 0 0;
  }
}

.workout-calendar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.calendar-container {
  flex: 1;
  overflow: auto;
}

.calendar-body {
  overflow-y: scroll;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  flex: 0 1 auto;
}

nav .nav-wrapper .btn i {
  line-height: inherit;
}

main {
  flex: 1;
  overflow: auto;
}

div.select-dropdown.dropdown-trigger {
  width: 100%;
  font-size: 16px;
  height: 100%;
}

.input-field div.select-wrapper+label,
.input-field div.thaw-input+label {
  transform: scale(.75);
  top: 8px;
}

.input-field div.select-wrapper {
  box-sizing: border-box;
  // padding: 0 16px;
  // padding-top: 20px;
  border: none;
  border-radius: 4px;
  border-bottom: 1px solid;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 3rem;
  width: 100%;
}

.workout_parameter {
  background: #EEE;

  input[type="text"],
  input[type="number"] {
    height: 1em;
  }

  .input-field {
    margin-top: 0;
    margin-bottom: 0;
  }
}