// [aria-current="page"] {
//   @extend .active;
// }

.card.is-fullwidth {
  width: 100%;
}

.button {

  &.is-small-circle {
    @include delete;

    color: $scheme-main;

    &::before {
      display: none;
    }

    .icon {
      width: 15px;
      height: 15px;
    }
  }
}

.calendar-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);

  &.calendar-header {
    flex: 0 1 auto;
  }

  &.cal-content {
    min-height: 200px;

  }

  >.column {
    border-width: 1px 1px 0 0;
    border-color: #CCCCCC;
    border-style: solid;
    overflow-wrap: anywhere;

    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  .column:last-child {
    border-width: 1px 0 0 0;
  }
}

.workout-calendar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.calendar-container {
  flex: 1;
  overflow: auto;
}

.calendar-body {
  overflow-y: scroll;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  flex: 0 1 auto;
}


main {
  flex: 1;
  overflow: auto;
}


.workout-parameter {

  &::before,
  &::after {
    display: block;
    background-color: transparent;
    content: " ";
  }

  &.drag-over.before::before {
    background-color: #AAA;
    height: 15px;
  }

  &.drag-over.after::after {
    background-color: #AAA;
    height: 15px;
  }
}

.is-fab {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 5;

  :hover {
    color: bulmaDarken($primary, 2.5%);
  }

  .dropdown-menu {
    left: auto;
    right: 0;
  }
}

.modal {

  .modal-content,
  .modal-card {

    @include mobile {

      &.is-small,
      &.is-medium,
      &.is-large,
      &.is-xlarge,
      &.is-full {
        max-width: 100%;
      }
    }

    @include tablet {
      &.is-small {
        max-width: 768px;
      }

      &.is-medium,
      &.is-large,
      &.is-xlarge {
        min-width: 769px;
        max-width: 1023px;
      }

      &.is-full {
        min-width: 100%;
      }
    }

    @include desktop {
      &.is-small {
        max-width: 768px;
      }

      &.is-medium {
        min-width: 769px;
        max-width: 1023px;
      }

      &.is-large {
        min-width: 1024px;
        max-width: 1215px;
      }

      &.is-wide {
        min-width: 1216px;
        max-width: 1407px;
      }

      &.is-full {
        min-width: 100%;
      }
    }
  }
}

.tooltip-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  align-items: start;

  .tooltip {
    background: white;
    border: 1px black solid;
    padding: 5px;

    .column {
      overflow-wrap: normal;
    }
  }
}

input[type="range"] {
  -moz-appearance: auto;
  -webkit-appearance: auto;
  border: none;
}