.material-tooltip {
  padding: 10px 8px;
  font-size: 1rem;
  z-index: 2000;
  border-radius: 2px;
  color: $tooltip-font-color;
  min-height: 36px;
  line-height: 120%;
  opacity: 0;
  position: absolute;
  text-align: center;
  max-width: calc(100% - 4px);
  overflow: hidden;
  left: 0;
  top: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: $tooltip-bg-color;
}

.backdrop {
  position: absolute;
  opacity: 0;
  height: 7px;
  width: 14px;
  border-radius: 0 0 50% 50%;
  background-color: $tooltip-bg-color;
  z-index: -1;
  transform-origin: 50% 0;
  visibility: hidden;
}
